.child-container {
    //float: right;
    //font-weight: bold;
    color: white;
    background-color: lightseagreen;
    height: 50px;
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
}