
.parent-container {
    background-color: midnightblue;
    width: 600px;
    color: white;
    height: 250px;
    margin-left: 30px;
    margin-top: 100px;
    overflow: hidden;
    
    & mat-card {
        min-width: 300px;
        max-width: 300px;
        margin-left: 10px;
        width: 60%;
        font: green; 
        overflow-x: auto;
        scroll-behavior: smooth;
    }

}

.children {
    display: flex;
}

.child-messages {
    display: flex;

    mat-card {
        color: midnightblue;
        //max-width: 10px !important;
    }
}